* {
    font-family: helvetica;
}
div {
        color: blue; font-size: 12px;
}
a {
        color: red; font-size: 12px;
}
ol {
        color: orange; font-size: 12px;
}
.red {
        color: red;
}
.blue {
        color: blue;
}
.orange {
        color: orange;
}
.big {
        font-size: 2em;
}